#root {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.contenido {
  border: 2px solid black; /* Ancho de borde 2px y color negro */
  place-items: center;
}

.App  {
  padding: 20px;
}